.photo-grid {
  max-width: 1184px;
  width: 100%;
  min-height: 671px;
  margin-bottom: 92px;
}
@media screen and (max-width: 1279px)
{
.photo-grid {
  max-width: 928px;
  min-height: 942px;
  }
}

@media screen and (max-width: 1023px)
{
.photo-grid {
  max-width: 720px;
  min-height: 1664px;
  margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px)
{
  .photo-grid {
    max-width: 288px;
    min-height: 2724px;
    margin-bottom: 64px;
  }
}
