.places {
  max-width: 984px;
  min-height: 3392px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1279px){
.places {
  max-width: 928px;
  min-height: 3292px;
  
 }
}

@media screen and (max-width: 1023px){
  .places {
    max-width: 720px;
    min-height: 2808px;
    gap: 72px;
    margin-bottom: 90px;
   }
}

@media screen and (max-width: 767px){
  .places {
    max-width: 320px;
    min-height: 5177px;
    gap: 50px;
    margin-bottom: 66px;
   }
}
