.lead__image {
  max-width: 984px;
  width: 100%;
  height: 615px;
  object-fit: cover;
  display: block;
  margin-top: 64px;
  }

  @media screen and (max-width: 1279px) {
  .lead__image {
    max-width: 928px;
    margin-top: 56px;
    height: 580px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    max-width: 768px;
    margin-top: 56px;
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    max-width: 320px;
    margin-top: 40px;
    height: 200px;
  }
}
